In [2]:
import pandas as pd
import seaborn

data = seaborn.load_dataset("iris")

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
data.shape

(150, 5)

In [7]:
data.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
132           6.4          2.8           5.6          2.2   virginica
61            5.9          3.0           4.2          1.5  versicolor
20            5.4          3.4           1.7          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
148           6.2          3.4           5.4          2.3   virginica

In [15]:
print(data[10:21])

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [16]:
specific_data = data[["petal_width","species"]]

In [17]:
print(specific_data.head())

   petal_width species
0          0.2  setosa
1          0.2  setosa
2          0.2  setosa
3          0.2  setosa
4          0.2  setosa

In [25]:
data.loc[data["species"]=="setosa", "sepal_length"].sum()

250.3

In [ ]:
data = seaborn.load_dataset("iris")